################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UNUM/FileContentIndex/cfc9dcfe-a9b5-472f-9a88-2170c39a162d.vsidx
/.vs/slnx.sqlite
